@import "tailwindcss";

@font-face {
  font-family: "Acumin Pro ExtraCondensed";
  src: local("Acumin Pro ExtraCondensed Bold Italic");
  font-weight: 700;
  font-style: italic;
}

@theme {
  --color-primary: #cd1b32;
  --color-neutral-900: #323438;
  --color-neutral-800: #5c616b;
  --color-neutral-200: #dfdfdf;
  --color-success: #22c55e;
  --font-family-barlow: "Barlow", sans-serif;
  --font-family-acumin: "Acumin Pro ExtraCondensed", "Impact",
    "Arial Narrow Bold", sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}
